
code-python3/imgs_mask_test.npy
code-python3/imgs_test.mat
*.png
*.jpg
data/train_ot.npy
data/train_flair.npy
data/train_t1.npy
data/train_t1c.npy
data/train_t2.npy
data/training1.npy
code-python3/test1.mha
code-python3/train.npy
*.hdf5
*.zip
CUDA_results/100+epochs/imgs_mask_test.npy
CUDA_results/50epoch/imgs_mask_test.npy
CUDA_results/batach2_10epochs_batchsize-4/imgs_mask_test.npy
CUDA_results/imgs_mask_test.npy
data/dataset.npy
data/label.npy
*.npy
results/brats01epoch/mask/imgs.npy.mat
